itpnyu-courses/itpggt2565-connectedDevicesAndNetworkedInteraction/week3/.flows.json.backup
[
    {
        "id": "b3d2c70c146a9098",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "804a11f491d4814c",
        "type": "websocket-listener",
        "path": "/accelData",
        "wholemsg": "false"
    },
    {
        "id": "5d1d45a3090b6544",
        "type": "websocket-listener",
        "path": "gyroData",
        "wholemsg": "false"
    },
    {
        "id": "55da9f9547e99a31",
        "type": "websocket-listener",
        "path": "/messages",
        "wholemsg": "false"
    },
    {
        "id": "033e925a1e12105c",
        "type": "udp in",
        "z": "b3d2c70c146a9098",
        "name": "gyrodataIn",
        "iface": "",
        "port": "1834",
        "ipv": "udp6",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "d4742939bac51817",
                "8709b2ac4cde1749"
            ]
        ]
    },
    {
        "id": "cc93056738aca831",
        "type": "websocket out",
        "z": "b3d2c70c146a9098",
        "name": "[ws] messages",
        "server": "804a11f491d4814c",
        "client": "",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "4224ec6eecb3da02",
        "type": "file",
        "z": "b3d2c70c146a9098",
        "name": "gyroDataLog",
        "filename": "/Users/matthewlaujh/Desktop/desktop/itpnyu/itpnyu/itpnyu-courses/itpggt2565-connectedDevicesAndNetworkedInteraction/week3/gyroDataLog",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "ccd12333a253f491",
        "type": "debug",
        "z": "b3d2c70c146a9098",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 640,
        "wires": []
    },
    {
        "id": "d4742939bac51817",
        "type": "function",
        "z": "b3d2c70c146a9098",
        "name": "splitData",
        "func": "const dataParts = msg.payload.trim().split(\"\\t\");\n\nconst gyroData = dataParts.slice(0, 3).join(\" \");\nconst accelData = dataParts.slice(3).join(\" \");\n\nmsg.payload = (new Date()).toISOString() + ' ' + msg.payload;\n\nreturn [\n    { payload: gyroData },\n    { payload: accelData },\n    { payload: msg.payload }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 540,
        "wires": [
            [
                "2485141064e65ec5",
                "ccd12333a253f491",
                "4224ec6eecb3da02"
            ],
            [
                "424525858b2a8d8f",
                "581034dde97489f3",
                "b11386c1ba2a5ca3"
            ],
            [
                "4224ec6eecb3da02"
            ]
        ]
    },
    {
        "id": "2485141064e65ec5",
        "type": "websocket out",
        "z": "b3d2c70c146a9098",
        "name": "[ws] gyroData",
        "server": "5d1d45a3090b6544",
        "client": "",
        "x": 1120,
        "y": 540,
        "wires": []
    },
    {
        "id": "8709b2ac4cde1749",
        "type": "websocket out",
        "z": "b3d2c70c146a9098",
        "name": "[ws] messages",
        "server": "55da9f9547e99a31",
        "client": "",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "99439b0479e9322c",
        "type": "websocket out",
        "z": "b3d2c70c146a9098",
        "name": "[ws] accelData",
        "server": "804a11f491d4814c",
        "client": "",
        "x": 1481,
        "y": 699,
        "wires": []
    },
    {
        "id": "b11386c1ba2a5ca3",
        "type": "file",
        "z": "b3d2c70c146a9098",
        "name": "accelDataLog",
        "filename": "/Users/matthewlaujh/Desktop/desktop/itpnyu/itpnyu/itpnyu-courses/itpggt2565-connectedDevicesAndNetworkedInteraction/week3/accelDataLog",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1460,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "424525858b2a8d8f",
        "type": "debug",
        "z": "b3d2c70c146a9098",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 800,
        "wires": []
    },
    {
        "id": "581034dde97489f3",
        "type": "function",
        "z": "b3d2c70c146a9098",
        "name": "accelDataDetectFastMovement",
        "func": "const thresholdX = 2.0;\nconst thresholdY = 2.0;\nconst thresholdZ = 2.0;\n\nconst data = msg.payload.split(\"\\t\");\n\nconst x = parseFloat(data[0]);\nconst y = parseFloat(data[1]);\nconst z = parseFloat(data[2]);\n\nvar msg = {payload:\"\"}\n\nif (Math.abs(x) > thresholdX || Math.abs(y) > thresholdY || Math.abs(z) > thresholdZ){\n    msg.payload = { x: x, y: y, z: z };\n    return [[msg]];\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "99439b0479e9322c"
            ]
        ]
    }
]