itpggt2565-connectedDevicesAndNetworkedInteraction/week1/accelerometerDataFlow.json
[
  {
    "id": "7431fa84a673ab0d",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "8edcfe48c8409891",
    "type": "tcp in",
    "z": "7431fa84a673ab0d",
    "name": "",
    "server": "server",
    "host": "",
    "port": "1834",
    "datamode": "stream",
    "datatype": "utf8",
    "newline": "\\r\\n",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 900,
    "y": 480,
    "wires": [
      [
        "c092d629c6c7fce2",
        "38ca1eb14f74c5ba",
        "6a930d61c8f5deb9",
        "3189d36dca0a5ef6"
      ]
    ]
  },
  {
    "id": "c092d629c6c7fce2",
    "type": "debug",
    "z": "7431fa84a673ab0d",
    "name": "debug 1",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 540,
    "wires": []
  },
  {
    "id": "38ca1eb14f74c5ba",
    "type": "file",
    "z": "7431fa84a673ab0d",
    "name": "Accelerometer Data",
    "filename": "accelerometerData",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1280,
    "y": 600,
    "wires": [[]]
  },
  {
    "id": "6a930d61c8f5deb9",
    "type": "function",
    "z": "7431fa84a673ab0d",
    "name": "Fast Movement (Only Text)",
    "func": "const thresholdX = 2.0;\nconst thresholdY = 2.0;\nconst thresholdZ = 2.0;\n\nconst data = msg.payload.split(\"\\t\");\n\nconst x = parseFloat(data[0]);\nconst y = parseFloat(data[1]);\nconst z = parseFloat(data[2]);\n\nif (Math.abs(x) > thresholdX || Math.abs(y) > thresholdY || Math.abs(z) > thresholdZ) {\n    msg.payload = \"Fast Movement\";\n    return msg;\n} else {\n    msg.payload = \"Slow or No Movement\";\n    return msg;\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1300,
    "y": 660,
    "wires": [["4054f79a2c3351df", "d2ac1320f6d71d82"]]
  },
  {
    "id": "4054f79a2c3351df",
    "type": "debug",
    "z": "7431fa84a673ab0d",
    "name": "debug 2",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1574,
    "y": 661,
    "wires": []
  },
  {
    "id": "d2ac1320f6d71d82",
    "type": "file",
    "z": "7431fa84a673ab0d",
    "name": "Fast Movement Text Data",
    "filename": "fastMovementTextData",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1622,
    "y": 713,
    "wires": [[]]
  },
  {
    "id": "3189d36dca0a5ef6",
    "type": "function",
    "z": "7431fa84a673ab0d",
    "name": "Fast Movement (Only Data but attempted to have both but only Data is displaying)",
    "func": "const thresholdX = 2.0;\nconst thresholdY = 2.0;\nconst thresholdZ = 2.0;\n\nconst data = msg.payload.split(\"\\t\");\n\nconst x = parseFloat(data[0]);\nconst y = parseFloat(data[1]);\nconst z = parseFloat(data[2]);\n\nvar msg1 = {payload:\"\"}\nvar msg2 = {payload:\"\"}\n\nif (Math.abs(x) > thresholdX || Math.abs(y) > thresholdY || Math.abs(z) > thresholdZ) {\n    msg1.payload = { x: x, y: y, z: z };\n    msg2.payload = \"Fast Movement\";\n    return [[msg1], [msg2]];\n} else {\n    msg1.payload = { x: x, y: y, z: z };\n    msg2.payload = \"Slow or No Movement\";\n    return [[msg1], [msg2]];\n}",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1470,
    "y": 780,
    "wires": [["4fdbd01d67eb4cee", "2b7f836e89a7f79e"]]
  },
  {
    "id": "4fdbd01d67eb4cee",
    "type": "debug",
    "z": "7431fa84a673ab0d",
    "name": "debug 3",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1880,
    "y": 780,
    "wires": []
  },
  {
    "id": "2b7f836e89a7f79e",
    "type": "file",
    "z": "7431fa84a673ab0d",
    "name": "Fast Movement Data",
    "filename": "fastMovementData",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1920,
    "y": 840,
    "wires": [[]]
  }
]
